@font-face {
    font-display: swap;
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 400;  
    src: url('../fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}


@font-face {
    font-display: swap;
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 700;  /* Boldのウェイト値 */
    src: url('../fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}
/* 
原則としてはこのようにフォントのウェイト値によってファイルが分かれている場合、このようにその数に応じて「@font-face」を作成する必要がある。
でないと、「font-weight」による文字の太さの変化は単に太さが変わるだけで、フォントによってはその最適化が充実しなくなる。
又、ここで指定されてないfont-weight値を利用する場合、ブラウザーによって最も近い値のを適用する。
*/

@font-face {
    font-display: swap;
    font-family: 'Yomogi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Yomogi-Regular.ttf') format('truetype'); 
}  

@font-face {
    font-display: swap;
    font-family: 'bananaslipplus';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/YDWbananaslipplus.otf') format('truetype'); 
}  