	body{
		margin-top: 0;
		margin-left: 0;
	}

	div#wrap {
		/* 背景の作成 */
        width: 880px;
        height: 470px;
        background-image: url(../../img/monet/gallery-blank.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        z-index: 1;
  
	}
	/* La terrasse à Sainte-Adresse */
	/* 
	   背景の額縁のパネル作成
	*/
	#pnl1 {
        position: absolute;
        left: 308px;
        top: 215px;
		display:flex;
		flex-direction: row;
		width:30x;
		height:66px;
		z-index:2; 
	}
	/* 
		額縁に合わせて絵を変形、おまけに透明度も調整
    */
	#pic1 {
        transition-property: width, height, opacity;
        /* アニメーション要素を指定 */
        transition-duration: 0.35s;
        /* アニメーションにかかる時間 */
        /* sで秒、msでミリ秒 */
        transition-timing-function:steps(16, start);
        /* 中間状態の値を算出する方法、stepsは段階的に、5は5段階とのこと */
        /* start各アニメーション段階の開始部分が表示される */
        /* end各アニメーション段階の終了部分が表示される */
        transition-delay : 125ms;
        /* 遅延 */
		opacity:0.5;
        /* 透明度 */
	}
	/*
		モネの絵にカーソルを置く時、画面中央に絵がポップアップされるようにする。
		角度、サイズ、透明度変換に加えておまけの影
	*/
	#pic1:hover {	
        /* カーソルを置く時に表示（変化）されるもの */	
		position:absolute;
		left:-208px;
		top:-200px;
		width:680px;
		height:420px;
		opacity:1.0;
        
        border:10px solid #ccc;
        /* ボーダーライン、ここでは疑似的な額縁、移動座標を修正 */
		border-image-source:url('../../img/monet/monet-1.png');
		border-image-slice:10;
		border-image-width:auto;

        box-shadow:#333 10px 10px 10px;
		z-index:2;
    }
	/* 
		額縁のサムネ
	*/
	img#monet1 {
		width:47px;
		height:66px;
    }
	/* 
		拡大された絵：680*420px
	*/
	img#monet1:hover {
		width:680px;
		height:420px;
	}
	/* sunflowers */
	#pnl2 {
		position:absolute;
		left:407px;
		top:213px;		
		display:flex;
		flex-direction: row;		
		width:47x;
		height:66px;
		z-index: 1;
	}
	#pic2 {		
		transition-property:width, height, opacity;
		transition-duration:0.4s;            
		transition-timing-function:steps(4, start);
		transition-delay : 0.2s;
		opacity:0.5;
	}
	#pic2:hover	{				
		position:absolute;
		left:-160px;
		top:-190px;
		width:300px;
		height:410px;
		box-shadow:#333 10px 10px 10px;
		opacity:1.0;
        border:10px solid #ccc;
		border-image-source:url('../../img/monet/Vincent_van_Gogh_Sunflowers.jpg');
		border-image-slice:10;
		border-image-width:auto;

	}
	img#gogh1 {
		width:47px;
		height:66px;
	}
	img#gogh1:hover {
		width:300px;
		height:410px;
	} 
