/* 機能とは関係ないが、可視性のために「body」とビューポートの間隔を設定。 */
body {
  background-image: url(../../img/wp10025284.png);
  background-repeat:repeat;
  background-size: 250px;

}

/* メインメニュー01 */
.main_menu_01 {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* メインメニュー：メニューボックス */
details {
  width: 200px;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  padding: 6px;

  background-color: burlywood;
}

/* メインメニュー：内容物 */
details summary {
  font-family: 'Yomogi';
  font-weight: bold;
  margin: -4px -4px;
  padding: 6px;
  /* list-style: none;*/
  /* 記入するとメインメニューのリストスタイル、ここでは三角形がなくなる。 */
  cursor: grab;
}

/* メインメニュー：メニューボックス（サブメニュー展開後） */
details[open] {
  padding: 6px;
}

/* メインメニュー：内容物（サブメニュー展開後） */
details[open] summary {
  font-family: 'Zen Maru Gothic';
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 4px;
  color: blueviolet;
}

/* サブメニューを設定する。 */
.main_menu_01 .sub_menu {
  padding: 4px;
  line-height: 0;
  background-color: bisque;
}
.sub_menu > p {
  font-family: 'Yomogi';
  font-weight: 400;
  color:brown;
}

.sub_menu :hover {
  font-family: 'Yomogi';
  font-weight: 800;
  color: darkmagenta;
}