nav {   /* メニューバー */
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /* コンテンツを整列、終わりの方に */
    padding-right: 50px;
    /* 右の内部間隔 */
    border: 2px solid greenyellow;
    /* 目視確認用ボーダーライン */
    background-color:lightsalmon;
    margin-left: auto; 
    margin-right: auto;

}
nav > div {
    margin-right: auto;
    padding-left: 15px;
}

nav > div > a {
    text-decoration: none;
}

nav > div > a > h3 {
    color:royalblue;
}

nav ul {    
    /* メニューバー内のボタン領域 */
    display:flex ;
    /* メニューのflex-box */
    justify-content: space-between;
    /* コンテンツを整列、コンテンツとコンテンツの間隔を同じく */
    width: auto;
    /* 横幅 */
    list-style:none;
    /* リストのスタイルを除去 */
}

nav ul li { 
    /* ボタン */
    width:auto;
    border-radius: 5%;
    box-shadow: 2px 2px 3px darkcyan;
    /* ボタンの影 */
    background-color: bisque;
    /* ボタンの色 */
    position: relative; 
    /* 下位メニューの基準位置 */ 
}

/* ボタンの内容 */
nav ul li a {          
    display: flex; 
    /* リンク領域を確保 */
    align-items: center; 
    /* 垂直方向中央揃え */
    color:yellowgreen;
    font-family: 'Yomogi';
    font-weight:600;
    font-size: 16px;
    text-shadow:
    0.5px 0.5px 1.5px crimson,
    0 0 1em dimgray,
    0 0 0.2em black;
    padding: 4px 8px;
    text-decoration: none;            
}

/* 下位メニューの作成 */
.sub_dex {

    width: fit-content;
    white-space: nowrap;
    display: none; 
    /* デフォルト：非表示 */
    list-style: none;
    /* <li>のマークを削除 */
    padding: 0;
    margin: 0;
    position: absolute; 
    /* 親要素からの相対位置で配置 */  
    top: 100%; 
    /* 親要素の直下に配置、0%の場合、親要素と同じ始点 */
    left: 0;  
    /* 親要素と同じ始点 */

    white-space: nowrap; 
    /* 下位メニューの項目が改行しないように */
    background-color: violet; 
    /* 下位メニューの背景色 */
    border: 1px solid #ccc; 
    /* 下位メニュー全体のボーダー */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    /* 下位メニュー全体の影 */
    border-radius: 5%; 
    /* 下位メニュー全体の角丸 */

    z-index: 10;
}

/* ボタンごとのスタイルをリセット */
.sub_dex li {
    
    border-radius: 0;
    box-shadow: none;
    /* ボタンごとの影を削除して下位メニュー全体の影だけを残す。 */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    /* 項目間の区切り線 */
    background-color: transparent; 
}

/* 下位メニューの内容 */
.sub_dex li a {
    
    font-family: 'Zen Maru Gothic';
    padding: 3px 6px;
    font-weight: 500;

    display: flex; 
    align-items: center; 
    /* 垂直方向中央揃え */
    text-decoration: none;

    color:black;
    font-size: 14px;
    background-color: transparent; 
    /* ボタンの背景色を透明にして、下位メニューの色で一気塗り */
}
  

nav ul li:hover .sub_dex {
    /* 下位メニューの召喚 */
    display: block;
  }
  
img.sub_icons {
    width: 32px;

    transition-property: rotate;
    transition-duration:0.3s;
    transition-timing-function: steps(64, start);
    transition-delay: 0.05s;
}
.sub_dex li a:hover .sub_icons {
    rotate: 720deg;
}