@charset "UTF-8";

body { 
    margin: 0px; 
    padding: 0px; 
}

/* Cookie Gallery */
/* swiper */
.swiper {
    width: 700px;
    height: 600px;
    display : flex;
    align-items: center;
    justify-content: center;
    /* background : yellow; */
}

/* スライドパネル */
.slider_panel 
{ 
    width: calc(700px * 14); 
    /* 左右margin込み（50px + 50px） */
    display: flex;
    justify-content: center;
    background-color:bisque;
}

/* クッキーの画像 */
.cookie_image 
{ 
    width: 600px; 
    height: 600px; 
    margin: 0 50px;    
}

/* クッキーの詳細 */
.slider_text 
{ 
    position:absolute;
    left:200px;
    top:250px;
    width:300px; 
    height:200px; 
    text-shadow: #000 1px 0 10px;
}