table, th, td {
    border: 3px solid #050505;
    border-collapse: collapse;
}
th, td {
    padding: 8px 12px;
}
table {
    margin-top: 20px; 
    width: auto; 
  }

a {
    text-decoration: none;
  }

#name {
    text-align: center;
    color: white;
    text-shadow:
    1px 1px 2px red,
    0 0 1em black,
    0 0 0.2em black;
    text-decoration: none;
  }

@font-face {
    font-display: swap; 
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/zen-maru-gothic-v17-japanese_latin-regular.woff2') format('woff2'); 
}
#ability {
    color:coral;
    font: 16px "Zen Maru Gothic";
    text-shadow: 1px 1px 2.5px #339977;
}

#zen {
    font: 36px "Zen Maru Gothic";
    text-shadow: 3px 3px 15px #339977;
    border: 3px solid aquamarine;
    background: cornsilk;
    box-shadow: inset;
    position: static;
    display: inline-block;
    width: auto;
    max-width: 100%;
    margin: 20px;
    padding: 4px 4px;
}

#type_text {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 75px;
    box-shadow: 1px 1px 2px red,
    0 0 3px black;
}

p{
    text-decoration:none;
}

